.base-bar{
    width: 100%;
    height: 0.5rem;
    background-color: #000000;
    border-radius: .5rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.first-bar{
    background-color: #D53232;
    width: 47%;
}
.bar-container{
    display: flex;
    align-items: center;
    padding: 1rem 0px;
    margin-bottom: 1rem;
    position: relative;
}
.skill_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* ul li::marker {
    color:#0d0d0d
  } */
.firstc-bar{
    background-color: #0DD55D;
    width: 97%;
}
.secondc-bar{
    background-color: #3260D5;
    width: 100%;
}
.profilec-bar{
    background-color: #0DD55D;
    width: 88%;
    margin-bottom: 20px;
}
.base-bars{
    width: 100%;
    height: 0.5rem;
    background-color: #000000;
    border-radius: .5rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 20px;
}






