.search {
    display: flex;
    margin: 20px;
    margin-left: 2%;
  }
  .search__input {
    font-family: inherit;
    font-size: 16px;
    background-color: #FFFFFF;
    border: none;
    color: #646464;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    width: 300px;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .search__input:hover, .search__input:focus {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .search__input:focus {
    outline: none;
  }
  .search__input::placeholder {
    font-weight: 300;
    color: #ccc;
  }
  .search__button {
    background: none;
    border: none;
    margin-left: -45px;
    cursor: pointer;
  }
  .search__icon {
    height: 1.5em;
    width: 1.5em;
    fill: #cdcdcd;
    transition: fill 0.3s ease;
  }
  .search__button:hover .search__icon {
    fill: #000;
  }

  .green-circle {
    color: green;
  }

  .red-circle {
    color: red;
  }


   .otc{
    margin-right: 573px;
   }

   .pdfbtn{
    margin-left: 83%;
    margin-top: -58px;
   }

   @media (max-width: 1900px) {
    .otc{
      margin-right: 325px;
     }
}
/* Add responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .search {
    flex-direction: column;
  }
  .search__input {
    margin-bottom: 10px;
  }
  .otc{
    font-size: medium;
  }
  .search__icon{
    display: none;
  }
  .pdfbtn{
    margin: auto;
  }
}

/* Add styles for scrollable table */
#pdf-content {
  overflow-x: auto;
}

/* Hide horizontal scrollbar */
#pdf-content::-webkit-scrollbar {
  display: none;
}

/* Add styles for the green and red circles */
.green-circle, .red-circle {
  font-size: 8px;
  margin-left: 5px;
}

.red-circle {
  color: red;
}

.green-circle {
  color: green;
}
